Drivers have been held in long traffic delays as the bank holiday getaway peaks , motoring organisations say .
Scottish ministers have been told to &quot; get a grip &quot; of data control as new claims emerged of equipment being lost or stolen from the public sector .
