Imran Yusuf must be the har@@ de@@ st-@@ working comedian in Edinburgh .
The circulation of every regional daily newspaper in Wales has fallen , with the country &apos;s flagship title the Western Mail dipping below the 30,000 mark .
The dinosaurs were wiped out 65 million years ago by at least two space impacts , rather than a single strike , a new study suggests .
The Taliban have revealed the base from which they planned to shoot down the prime minister &apos;s helicopter during his first visit to Afghanistan in June .
