Spanish singer Julio Iglesias has married Dutch model Miranda Rij@@ n@@ s@@ burger , his partner of 20 years .
One of Mexico &apos;s biggest airlines , Mex@@ ic@@ ana de Avi@@ ac@@ ion , is to suspend all flights , three weeks after filing for bankruptcy protection .
